asyncio
asyncpg
fastapi
httpx
uvicorn
pydantic
pydantic-settings
psycopg-binary
requests
sqlalchemy
asyncpg
psycopg2-binary
pytest
pytest-asyncio
redis
qdrant-client
langchain
langchain_core
langgraph
langgraph-checkpoint-postgres
google-generativeai
python-dotenv